$jukebox-color: #1d1d1d;
$jukebox-background: #9fffb4;
$jukebox-width: 250px;
$jukebox-max-width: 250px;
$jukebox-height: 350px;
$jukebox-border: 5px solid $jukebox-color;
$leg-height: 5px;
$leg-width: 25px;
$leg-radius: 5px;
$head-height: $jukebox-width;
$contractBy: 50px;
$body-radius: 10px;

* {
  box-sizing: border-box;
}

.jukebox {
  position: relative;
  width: $jukebox-width;
  min-width: $jukebox-max-width;
  height: $jukebox-height;
  margin: 20px auto;
  padding-top: ($head-height / 2);

  &__rating {
    position: absolute;
    left: 50%;
    top: calc(50% - 77px);
    width: 5px;
    height: 150px;
    background-color: #0089ff;
    transform: translateX(-50%) rotate(35deg);
    z-index: 20;
  }

  &__record {
    position: absolute;
    left: 50%;
    top: 25%;
    width: 55%;
    height: 55%;
    background-color: black;
    border-radius: 50%;
    transform: translateX(-50%) rotate(0);
    z-index: 3;
    box-shadow: inset 0px 0px 0 7px black, inset 0px 0px 0 10px #333333;
    animation: spin 30s infinite;
    animation-timing-function: linear;

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: calc(50%);
      border-radius: 100%;
      background-color: red;
      transform: translate(-50%, -50%);
    }
  }

  &__head {
    position: absolute;
    top: 0;
    left: 0;
    height: $head-height;
    width: 100%;
    background-color: $jukebox-background;
    border-radius: 50%;
    border: $jukebox-border;
    z-index: -1;
    animation: lighting 5s infinite;

    &::before {
      position: absolute;
      top: ($contractBy / 2);
      left: ($contractBy / 2);
      content: '';
      height: calc(100% - #{$contractBy});
      width: calc(100% - #{$contractBy});
      border-radius: 50%;
      background-color: white;
    }
  }

  &__body {
    position: relative;
    height: calc(100% - #{$leg-height});
    width: 100%;
    background-color: white;
    border: $jukebox-border;
    border-top-width: 15px;
    border-bottom-left-radius: $body-radius;
    border-bottom-right-radius: $body-radius;
    z-index: 30;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 25px;
      height: calc(100% - 25px);
      background-color: $jukebox-background;
      animation: lighting 5s infinite;
      animation-fill-mode: forwards;
    }

    &::before {
      border-bottom-right-radius: $body-radius;
    }

    &::after {
      left: auto;
      right: 0;
      border-bottom-left-radius: $body-radius;
    }
  }

  &__internal {
    position: absolute;
    top: ($contractBy / 2);
    left: 50%;
    content: '';
    height: calc(100% - #{$contractBy});
    width: 54%;
    background: linear-gradient(to bottom, #313131, #171616);
    border-radius: 14%;
    border: 3px solid black;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
    overflow: hidden;

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-wrap: wrap;
      width: 160%;
      margin: 0;
      padding: 0;
      list-style: none;
      border: 2px solid black;
      border-bottom: 0;
      transform: translate(-50%, -50%) rotate(45deg);

      li {
        width: calc(100% / 8);
        height: 20px;
        border-right: 2px solid #9c9c9c;
        border-bottom: 2px solid #797979;

        &:nth-child(8n) {
          border-right: 0;
        }
      }
    }
  }

  &__leg {
    position: absolute;
    bottom: 0;
    width: $leg-width;
    height: $leg-height;
    border: 5px solid $jukebox-color;
    z-index: -1;
    border-bottom-left-radius: $leg-radius;
    border-bottom-right-radius: $leg-radius;

    &--left {
      left: 20px;
    }

    &--right {
      right: 20px;
    }
  }
}

@keyframes spin {
  to {
    transform: translateX(-50%) rotate(2154deg);
  }
}

@keyframes lighting {
  0% {
    background-color: #9fffb4
  }
  20% {
    background-color: #f09fff;
  }
  40% {
    background-color: #9fedff;
  }
  60% {
    background-color: #f9ff9f;
  }
  80% {
    background-color: #ffa89f;
  }
  99% {
    background-color: #bb9fff;
  }
}
